*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    overflow: hidden;
}

.container{
    background: linear-gradient(-230deg, #000 20%, rgba(0,0,0,0) 65% ) no-repeat;
    background-color: #ff9a03;
}

.cabecalho{
    flex-wrap: wrap;
}

.logo{
    margin-top: 8px;
}

nav, ul, li{
    display: flex;
    align-items: center;
    gap: 50px;
    margin-left: 5px;
}

.cabecalho nav, ul, li, a{
    font-size: calc(1rem + 1vw);
    color: #000;
    font-weight: 900;
    border-bottom: 2px solid transparent;
    padding-bottom: 3px;
    transition: all ease 0.5s;
}

nav ul li a:hover{
    border-bottom: 2px solid red;
}

.container header{
    display: flex;
    justify-content: space-around;
}


.texto{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    gap: 40px;
}


.texto .pizza{
    width: 500px;
    height: 500px;
    border-radius: 100%;
    box-shadow: -1px 6px 15px 12px rgba(0, 0, 0, 0.7);
}


.cont-texto{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    
}


.cont-texto h1{
    display: flex;
    margin-bottom: 10px;
    font-size: calc(2em + 1vw);
    color: #555;
}

.cont-texto h2{
    font-size: calc(1.5em + 1vw);
    margin-bottom: 30px;
    color: #fb0404;
    font-weight: 700;
}

.cont-texto p{
    max-width: 500px;
    font-size: 2rem;
}

.cont-texto button{
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    padding: 8px;
    transition: all 0.6s ease-in-out;
}

.btn{
    font-size: 2rem;
}

.cont-texto button:hover{
    background: #555;
}

.cont-texto button .btn:hover{
    transition:all 0.6s ease-in;
    color: #fff;
}

@media (min-width: 300px) and (max-width: 480px){
    *{
        overflow: auto;
    }
   
    ul{
        gap: 10px;
    }
   
    li, a{
        color: #fff;
    }
    
    .texto{
        flex-direction: column;
        gap: 0;
    }

    .setas{
        display: none;
    }

    .texto .pizza{
        width: 17rem;
        height: 15rem;
        object-fit: cover;
        margin-top: 1rem;
    }

    .cont-texto p{
        font-size: calc(1em + 1vw);
        max-width: 320px;
    }

    .btn{
        color: #555;
        font-size: 1rem;
    }

}